</div>

<div class="content">


  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=7087">Fellini</a></dt>
      <dd class="date">Mar 7, 2012</dd>
      <dd class="description">Red Light Cafe, August 2011</dd>
      <dd class="embed-code"><iframe width="420" height="315" src="http://www.youtube.com/embed/KpyU-Vncez4" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=7088">Rozhdenij v SSSR</a></dt>
      <dd class="date">Mar 7, 2012</dd>
      <dd class="description">Redlight Cafe, August 2011</dd>
      <dd class="embed-code"><iframe width="420" height="315" src="http://www.youtube.com/embed/wouOeX5DHrg" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=7089">Takie Dela</a></dt>
      <dd class="date">Mar 7, 2012</dd>
      <dd class="description">Redlight Cafe, August 2011</dd>
      <dd class="embed-code"><iframe width="420" height="315" src="http://www.youtube.com/embed/wASLod1o8U0" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=7090">Zadi</a></dt>
      <dd class="date">Mar 7, 2012</dd>
      <dd class="description">Redlight Cafe, August 2011</dd>
      <dd class="embed-code"><iframe width="420" height="315" src="http://www.youtube.com/embed/tMbJdLCAS3s" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=7091">Vosh</a></dt>
      <dd class="date">Mar 7, 2012</dd>
      <dd class="description">Redlight Cafe, August 2011</dd>
      <dd class="embed-code"><iframe width="420" height="315" src="http://www.youtube.com/embed/0Lu5n9u5f-s" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=4065">Поворот -- Машина Времени</a></dt>
      <dd class="date">Apr 30, 2011</dd>
      <dd class="description"></dd>
      <dd class="embed-code"><iframe width="560" height="349" src="http://www.youtube.com/embed/Ad1U7rqZspk" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=4066">Ты Дарила Мне Розы -- Ночные Снайперы</a></dt>
      <dd class="date">Apr 30, 2011</dd>
      <dd class="description"></dd>
      <dd class="embed-code"><iframe width="560" height="349" src="http://www.youtube.com/embed/LPFJ101lD5E" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=4067">Кукушка -- Кино</a></dt>
      <dd class="date">Apr 30, 2011</dd>
      <dd class="description"></dd>
      <dd class="embed-code"><iframe width="560" height="349" src="http://www.youtube.com/embed/RV3U7jbvwXI" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=4068">ддт -- Осень</a></dt>
      <dd class="date">Apr 30, 2011</dd>
      <dd class="description"></dd>
      <dd class="embed-code"><iframe width="560" height="349" src="http://www.youtube.com/embed/PgkdwWPLPHU" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=4069">Чайф -- оранжевое настроение</a></dt>
      <dd class="date">Apr 30, 2011</dd>
      <dd class="description"></dd>
      <dd class="embed-code"><iframe width="560" height="349" src="http://www.youtube.com/embed/jt9WeEk6bNQ" frameborder="0" allowfullscreen></iframe></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=2278">Poslednie Den'gi</a></dt>
      <dd class="date">Oct 2, 2010</dd>
      <dd class="description"></dd>
      <dd class="embed-code"><object width="400" height="224" ><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://www.facebook.com/v/10150199100340105" /><embed src="http://www.facebook.com/v/10150199100340105" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="400" height="224"></embed></object></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=2279">Peremen</a></dt>
      <dd class="date">Oct 2, 2010</dd>
      <dd class="description"></dd>
      <dd class="embed-code"><object width="400" height="224" ><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://www.facebook.com/v/10150199101015105" /><embed src="http://www.facebook.com/v/10150199101015105" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="400" height="224"></embed></object></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=2280">Lenigrad -- gryppa krovi</a></dt>
      <dd class="date">Oct 2, 2010</dd>
      <dd class="description"></dd>
      <dd class="embed-code"><object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/3qNEJK_tijE?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/3qNEJK_tijE?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object></dd>
    </dl>

  </div>

  <div class="item">

    <dl>
      <dt class="title"><a href="videos?id=2260">Moj Dryg</a></dt>
      <dd class="date">Oct 1, 2010</dd>
      <dd class="description"></dd>
      <dd class="embed-code"><object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/CEgiZFHdw0A?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/CEgiZFHdw0A?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object></dd>
    </dl>

  </div>

</div>

</div>

</div>