<div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Welcome to the Official Lazanie Smichki Band site!</div>
<p class="mdl-typography--font-light">
  We are currently working on setting the date of our next show, hopefully May 7, 2016.  Stay tuned...
  <br>
  <a href="" class="android-link mdl-typography--font-light"></a>
</p>
