<div class="content" style="text-align: left;">
  <div id="content-wrapper" style="background-color: gray;padding: 2em; opacity: 0.8;color: white;">

    <p><span style="font-size: medium;">Рок группа "Смычки", как действующий проект, была создана в 2009 году Игорем Лазаром и Сергеем Смычковичем-автором стихов, музыки и вокалистом. Изначально группа носила название "Лазарные Смычки". В 2016 году Игорь покинул группу для работы над сольным проектом и название поменялось на "Смычки".
К 2017 году состав группы окончательно сложился, включив в себя еще одну вокалистку и бас-гитариста. У группы появился свой, особенный стиль в звучании.
Концерты группы проходят в разных форматах: от минимизированной акустики до полноценного электричества.
В настоящее время в репертуаре группы большое количество песен в разных стилях, как своих, так и других исполнителей.
От Смычков можно услышать все, что угодно: от регги до босса-новы. Отличительная черта их музыки: оптимизм и безудержная любовь к жизни. </span></p>
    <p><span style="font-size: medium;"><br /></span></p>
    <p><strong>Сергей Смычкович | Sergei Smychkovich</strong> - - - - вокал, ритм гитара | vocals, rhythm guitar</p>
    <p><strong>Наталья Кочеринская | Natalia Kocherinskaya</strong> - - - - вокал | vocals </p>
    <p><strong>Александр Санников | Alexander Sannikoff</strong> - - - - соло гитара | lead guitar </p>
    <p><strong>Александр Кронберг | Aleksandr Kronberg</strong> - - - - бас | bass </p>
    <p><strong>Борис Смычкович | Boris Smychkovich</strong> - - - - клавишные | keyboards</p>
    <p><strong>Юрий Исхаков | Yuri Iskhakov</strong> - - - - барабаны | drums </p>
    <p><strong>Гуля Усманова | Julia Ousmanov </strong> - - - - вокал | vocals </p>

  </div>

</div>

</div>

</div>
</div>
