<div class="content" style="text-align: left;">
  <div id="content-wrapper" style="background-color: gray;padding: 2em; opacity: 0.8;color: white;">

    <p><span style="font-size: medium;">Любовь к музыке объединила людей разных профессий, разных возрастов и разных сфер деятельности. Даже не просто к музыке а к музе пришедшей из нашей исторической родины. </span></p>
    <p><span style="font-size: medium;"><br /></span></p>
    <p><strong>Сергей Смычкович | Sergei Smychkovich</strong> - - - - вокал, ритм гитара | vocals, rhythm guitar</p>
    <p><strong>Александр Санников | Alexander Sannikoff</strong> - - - - соло гитара | lead guitar </p>
    <p><strong>Борис Смычкович | Boris Smychkovich</strong> - - - - клавишные | keyboards</p>
    <p><strong>Гуля Усманова | Julia Ousmanov </strong> - - - - вокал | vocals </p>
    <p><strong>Ричард Вандерлич /|\ Richard Wunderlich</strong> - - - - барабаны | drums </p>
    <p><strong>Юрий Исхаков | Yuri Iskhakov</strong> - - - - барабаны | drums </p>
    <p><strong>Наталия Кочеринская | Natalia Kocherinskaya</strong> - - - - вокал | vocals </p>
    <p><strong>Александр Кронберг | Aleksandr Kronberg</strong> - - - - бас | bass </p>

  </div>

</div>

</div>

</div>
</div>
