<div class="content" style="text-align: left;">
  <div id="content-wrapper">

    <p><span style="font-size: medium;">Любовь к музыке объединила людей разных профессий, разных возрастов и разных сфер деятельности. Даже не просто к музыке а к музе пришедшей из нашей исторической родины Это началось с бардовкой песни и продолжилось классиками русского рока Машина времени, Наутилус, а позже Би-2 и Ленинград зажигали воображение наше и наших слушателей, которых становилось все больше и наконец мы уже не поместились в гостеприимный Лазревский дом и вышли на открытый простор. </span></p>
    <p><span style="font-size: medium;"><br /></span></p>
    <p><span style="font-size: medium;">Наше первое выступление в Red Light Cafe превзошло все наши ожидания и лучшие прогнозы. К нам пришли 250 человек! Это было фантастика. То ли&nbsp; русскоязычной Атланте как раз и не хватало такой&nbsp;музыкал</span><span style="font-size: medium;">ь</span><span style="font-size: medium;">ной обстановки, то ли мы были действително неплохи, но успех был полным, и мы сразу же начали готовить второй концерт, который на 40% пополнился новым репертуаром. Концерт состоится 3 декабря в русском ресторане Верди, который на этот день превратится в русский рок клуб.</span></p>
    <p><span style="font-size: medium;"><br /><br /><strong>Игорь Лазар</strong> - солист, гитара,бас-гитара, орган.&nbsp; Душа и сочинитель.&nbsp; Он поет всегда и везде, по просьбе и без с друзьями и один.<br /><br /><strong>Сергей Смычкович</strong> - солист, гитара, бас-гитара. Это наш Цой. Иногда нам кажется что он даже поет лучше своего кумира.<br /><br /><strong>Борис Смычкович</strong> - в ансамбле известен как "клавишник" очень любит петь, хотя напрочь лишен голоса. <br /><br /><strong>Еллочка Голдбергер</strong> - Воплощение женственности и ритма.&nbsp; Её душа, временами задыхающаяся в рамках фармацевтики, находит себе отдых в музыке.<br /><br /><strong>Ричард Вандерлич</strong> - ударные инструменты. Очень бы удивился прочита</span><span style="font-size: medium;">в</span><span style="font-size: medium;">&nbsp;свое имя по-русски.</span></p>
    <p><span style="font-size: medium;"><br /><strong>Гуля Усманова</strong> - солистка. Второе имя - мадам шанте-блюз. Грация, изящество уверенность в себе</span></p>

  </div>

</div>

</div>

</div>
</div>
